* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

#main {
    display: flex;
}

nav {
    width: 200px;
    padding: 10px;
}

nav > .container {
    margin: 5px;
    position: relative;
}

nav > .section {
    margin: 2em 0;
}

input[type="file"] {
    width: 130px;
}

.nav-group {
    margin-top: 60px;
}

main {
    margin-top: 20px;
    padding-bottom: 20px;
}

#holder {
    width: 1000px;
    height: 1000px;
    background-color: antiquewhite;
}

.item {
    position: absolute;
}

nav .item {
    display: inline-block;
    position: relative;

}


.container, .truck {
    width: 60px;
    height: 20px;
    position: absolute;
    background-color: blue;
    opacity: .5;
    display: inline-block;
}

.container.v {
    transform: rotate(90deg);
}

.container.stack {
    background-color: #ae01ff;
}

.truck {
    background-color: darkgreen;
}

.selected {
    border: 2px solid red;
}

.camera {
    width: 10px;
    height: 10px;
    background-color: #000000;
}

.snowman {
    width: 22px;
    height: 22px;
    background: url("snowman.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.collectable, .collectableBigger {
    width: 10px;
    height: 10px;
    background-color: #2bff06;
    font-size: 10px;
    padding: 2px;
    line-height: 5px;
}

.collectableBigger {
    background-color: #00cbcb;
}

.item.crane {
    width: 60px;
    height: 40px;
    //position: absolute;
    background-color: #5faaff;
    opacity: .5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.crane > div {
    height: 10px;
    width: 60px;
    background-color: #014f8b;
}

.crane2 {
    width: 40px;
    height: 60px;
    border-radius: 5px;
    background-color: #5faaff;
}

.exit {
    width: 22px;
    height: 22px;
    background: url("tree.png");
    background-repeat: no-repeat;
    background-position: center;
}

.announcer {
    width: 10px;
    height:10px;
    background-color: brown;
}


button {
    background-color: #b7e5ff;
    border: 1px solid #acbbcd;
    display: block;
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: #99fcff;
}

#setFog {
    display: inline-block;
}

.selected-level {
    background-color: #2bff06;
}









